@model List<Superhero.Models.Hero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <table>
        <tr>
            <td>Name</td>
            <td>Update Information</td>
            <td>Delete</td>
        </tr>
        @for(int i = 0; i < Model.Count; i++)
        {
        <tr>
            <td>@Html.ActionLink(Model[i].Name, "Read", new { id = Model[i].HeroId })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = Model[i].HeroId })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = Model[i].HeroId })</td>
        </tr>

        }
    </table>
</div>
<br /><br />
<div>
    <p>
        @Html.ActionLink("Create new Hero", "Create") |
    </p>
</div>

